*{
    box-sizing: border-box;
}
html{
    background-color:linen;
    font-family: 'Josefin Sans', sans-serif;
}
#title{
    color:maroon;
    text-align:center;
}
h2{
    text-align: center;
}
#img-caption{
    font-size:2.0rem;
    text-align: center;
}
ul li{ 
    list-style-type: none;
}
.responsive{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#img-caption{
    padding-top:10px;
    font-style:oblique; 
}
#tribute-link:hover{
    background-color:lightblue;
}
#tribute-info{
   line-height:1.5; 
}
i{
    padding-right:5px;
}